* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html,body{
	margin:20px;
	padding:0;
}

.content-container{
	width:100%;
	max-width:1000px;
	margin:0 auto;
}

/* elements */

input[type=text]{
	width:400px;
}

select{
	width:400px;
}

input[type=checkbox]{

}

input[type=radio]{

}

input[type=button]{
	margin-bottom:20px;
}

textarea{
	width:400px;
	height:100px;
}

/* modifiers */

.hide{
	display:none;
}

.clear-fix{
	clear:both;
}

.no-top-margin{
	margin-top:0;
}

.blue-text{
	color:blue;
}

/* containers */

.form-element-container{
	margin-bottom:20px;
}

/* labels */

.form-element-label {
	display:block;
	font-weight: bold;
}

/* form elements */

.form-element-component-checkbox,
.form-element-component-radio {
	margin-right:30px;
}

.form-element-component-checkbox label,
.form-element-component-radio label{
	margin-left:5px;
}

.form-element-container-content{
	float:left;
}

/* validation classes */

.mandatory-element-identifier{
	color:red;
	margin-left:5px;
}

.initial-validation-error{
	background-color:red;
	padding:20px;
	color:white;
	margin-bottom:20px;
}

.validation-error{
	color:red;
	font-size:12px;
	margin-left:5px;
}

/* custom classes */

.footnote{
	font-size:12px;
}